header{
    font-family:"Mooli", cursive;
    font-weight: bold;
    font-size: 25px;
}
body{
    font-family:"Mooli", cursive;
}

#navbar{
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0.8;
    background: linear-gradient(to bottom, #141E46 0%, #9DB2BF 100%);
    border-bottom: 10%;
    z-index: 1;
}
#navbar a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    padding:10px;
}
#navbar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
#navbar li{
    float: left;
    padding: 14px 26px;

}
#navbar li a:hover {
    color:black;
    transition: background 0.4s ease-in-out;
    opacity: 0.6;
}
  
body{
    padding-bottom: 3rem;
    background-color: #27374D;
}

.video_demon{
    z-index: -1;
    width: 65%;
    height: auto;
    padding-top: 5%;
    margin:10px;
}

.card {
    transition: 0.3s;
    border-radius: 25px;
    width: auto;
    height:90%;
    background-color: #526D82;
    padding: 5%;
    margin: -8% 5% 5% 5%;
}
.card img{
    width: 50%;
    height: auto;
}
.card a{
    color: #DDE6ED;
    text-decoration: none;
}
.card a:hover{
    color: black;
}
.container {
    padding: 2px 16px;
}
.card li{
    list-style-type: none;
    color: #DDE6ED;
    margin-top: -5%;
}

section{
    padding: 10px;
    text-align: center;
    width: 80%;
}
.Games{
    background-color: #9DB2BF;
    padding: 10px;
    border-radius: 25px;
    margin-top: 3%;
    margin-bottom: 3%;
}
.Me{
    background-color: #526D82;
    padding: 10px;
    border-radius: 25px;
    margin-top: 3%;
    margin-bottom: 3%;
}
.Contact{
    background-color: #9DB2BF;
    padding: 10px;
    border-radius: 25px;
    margin-top: 3%;
    margin-bottom: 3%;
}

.title{
    color: #DDE6ED;
    opacity: 0.6;
    font-size: 30px;
}
.content{
    color: #DDE6ED;
    padding-top: 0;
    padding-right: 5%;
    padding-bottom: 5%;
    padding-left: 5%;
}
.row {
    display: flex;
  }
.column {
    flex: 50%;
}
.column img{
    width: 50%;
    height: auto;
}
